#!/usr/bin/env bash
# Gunicorn congig file to serve the content (web_dynamic/2-hbnb.py)
[Unit]
Description=Gunicorn instance to serve Airbnb_clone_v4 content
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/home/ubuntu/.local/bin/gunicorn
    --workers 3
    --bind 0.0.0.0:5003
    --error-logfile /var/log/gunicorn/gunicorn-error.log
    --access-logfile /var/log/gunicorn/gunicorn-access.log
    web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
